# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# Ignore firebase cloud functions debug logs files
*-debug.log

storage.rules
