package.json/
package-lock.json.
node_modules/
coverage/
certs
.cache
web/buid
web/build/
web-ext/scripts/utils/
**/.eslintignore
**/.prettierignore
**/.firebaserc
**/.gitignore
**/*.eot
**/*.svg
**/*.ttf
**/*.woff
**/*.woff2
