@tailwind base;
@tailwind utilities;
@tailwind components;
@use 'sass:math';

$lg: 1024px;
$primary: #3b3b3b;
$secondary: #414141;
$mask: rgba(0, 0, 0, 0.5);
$transition_duration: 300ms;
$menubar_height: 2.25rem;
$column_gap: 1.25rem;
$row_gap: 1rem;
$mobile_column_gap: 0.5rem;
$mobile_row_gap: 0.75rem;

// Base style
@layer base {
  html,
  body,
  #root {
    @apply p-0 m-0 min-h-full h-full overflow-hidden max-h-screen font-sans;
    font-size: 16px;
    @apply box-border focus:outline-none;
  }

  body * {
    // For Google Chrome
    &::-webkit-scrollbar {
      width: 0.4rem;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(218, 218, 218, 0.8);
      border-radius: 1rem;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    // For Firefox
    scrollbar-color: rgba(218, 218, 218, 0.8) transparent !important;
    scrollbar-width: 0.4rem !important;
  }

  main {
    min-height: -webkit-fill-available;
    height: 100vh;
    height: stretch;
  }
  /* inter-regular - latin */
  /* quicksand-regular - latin */
  /* cabin-regular - latin */
  /* hind-regular - latin */
  @font-face {
    font-family: 'Hind';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/hind-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''), url('./fonts/hind-v11-latin-regular.eot?#iefix') format('embedded-opentype'),
      /* IE6-IE8 */ url('./fonts/hind-v11-latin-regular.woff2') format('woff2'),
      /* Super Modern Browsers */ url('./fonts/hind-v11-latin-regular.woff') format('woff'),
      /* Modern Browsers */ url('./fonts/hind-v11-latin-regular.ttf') format('truetype'),
      /* Safari, Android, iOS */ url('./fonts/hind-v11-latin-regular.svg#Hind') format('svg'); /* Legacy iOS */
  }
}

@layer components {
  // Mobile breakpoint mixin
  @mixin breakpoint {
    @media (max-width: $lg) {
      @content;
    }
  }

  // Image zoom slider thumb
  @mixin sliderThumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    @apply appearance-none  rounded-full transform bg-primary;
    border: 2px solid white;
    width: 1rem;
    height: 1rem;

    &:active,
    &:hover {
      @apply bg-white w-5 h-5;
      border: 1px solid white;
    }
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes progress-animation {
    from {
      background-position: 100%;
    }
    to {
      background-position: 0;
    }
  }

  @keyframes blinking {
    from {
      background: rgba(59, 130, 246, 0.25);
    }
    to {
      background: rgba(59, 130, 246, 0.6);
    }
  }

  div,
  button:active,
  button:focus,
  textarea,
  input:focus {
    @apply outline-none;
  }

  div {
    @apply box-border;
  }

  .Waterfall {
    display: grid;
    justify-content: center;
    gap: $column_gap;

    @include breakpoint {
      gap: $mobile_column_gap;
    }

    .imageColumn {
      display: grid;
      grid-template-columns: minmax(0, 1fr);
      grid-auto-rows: min-content;
      gap: $row_gap;

      @include breakpoint {
        gap: $mobile_row_gap;
      }

      img {
        @apply w-full h-full;
      }
    }
  }

  .Justified {
    @apply flex flex-row flex-wrap justify-start;
    column-gap: $column_gap;
    row-gap: $row_gap;

    @include breakpoint {
      column-gap: $mobile_column_gap;
      row-gap: $mobile_row_gap;
    }
    figure {
      @apply flex-grow;
      img {
        object-fit: cover;
        max-width: 100%;
        min-width: 100%;
        vertical-align: bottom;
      }
    }
  }

  .sidebar {
    @apply top-0 h-full bg-secondary z-20 py-2 border-gray-900 border-opacity-70;
  }

  .mask {
    @apply fixed top-0 left-0 w-full bg-mask z-10 h-full opacity-100;
  }

  .menubar {
    vertical-align: -moz-middle-with-baseline;
    vertical-align: -webkit-baseline-middle;
  }

  .menu-item {
    @apply px-2 p-1 hover:bg-black hover:bg-opacity-25 rounded-md;
  }

  .menu-item {
    &.active {
      @apply bg-black bg-opacity-25;
    }
  }

  .tab {
    @apply w-full focus:bg-tabFocus hover:bg-tabFocus cursor-pointer rounded-lg flex flex-row items-center transform;

    &:active {
      transform: scale(99%) translateY(1px);
    }

    .image-count {
      @apply text-gray-400 pr-3;
    }
    .edit-library {
      @apply text-gray-400 hover:bg-tabActive rounded-lg h-full p-1 outline-none;
      display: none;

      .react-icons {
        @apply h-full mx-auto;
      }
    }

    &:hover {
      .edit-library {
        @apply block;
      }
      .image-count {
        display: none;
      }
    }

    &.active {
      @apply bg-tabActive font-medium;
      box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    }
    &.editing {
      @apply z-50 mb-2 py-1 px-3 border border-blue-500;
    }
    &.editing-error {
      @apply border-red-400;
    }
  }

  .tab-hidden {
    @apply w-0 h-0 overflow-hidden;
  }

  .profile-stat {
    @apply flex-grow flex flex-col items-center w-20;
  }

  .progress {
    transition: right 0.5s cubic-bezier(0, 0.55, 0.45, 1);
    background: linear-gradient(
      90deg,
      #8ab6d6,
      #2978b5 17%,
      #0061a8 34%,
      #0039a6 51%,
      #8ab6d6 68%,
      #2978b5 85%,
      #0061a8
    );
    background-size: 300% 100%;
    animation: progress-animation 2s linear infinite;
  }

  .progressBar-icon {
    @apply text-2xl font-bold hover:bg-tabFocus cursor-pointer rounded-md transform transition-transform duration-500;
  }

  .toolbox-button {
    @apply w-10 h-10;
    margin: 2px;
    button {
      @apply hover:bg-tabFocus transition-all hover:scale-95 w-full h-full flex flex-col justify-center items-center rounded-lg border-none;

      &:disabled {
        @apply text-gray-400 hover:bg-transparent;
        @apply transform-none shadow-none cursor-default;
      }
    }
  }

  .buttonIcon {
    @apply cursor-pointer rounded-full hover:bg-tabActive active:bg-tabActive mx-1;
  }

  .zoom-slider {
    @apply bg-gray-500 h-1 w-3/4 appearance-none rounded-lg;
    max-width: 8rem;
    cursor: grab;
    &:active {
      cursor: grabbing;
    }

    &::-ms-thumb {
      @include sliderThumb;
    }

    &::-webkit-slider-thumb {
      @include sliderThumb;
    }

    &::-moz-range-thumb {
      @include sliderThumb;
    }

    &::-moz-range-progress {
      background-color: white;
    }
    &::-ms-fill-lower {
      background-color: white;
    }
  }

  .slide-show {
    @apply fixed top-0 left-0 w-full h-full;
    z-index: 1000;
  }

  .slides {
    .swiper-container {
      @apply h-full z-50;
    }

    .swiper-pagination-bullet {
      @apply bg-purple-300 opacity-60;
    }

    .swiper-pagination-bullet {
      @apply w-3 h-3;
    }

    .swiper-button-disabled {
      @apply text-purple-300;
    }

    .swiper-pagination-bullet-active {
      @apply bg-purple-500 w-4 h-4 opacity-100;
    }

    .swiper-button-next,
    .swiper-button-prev {
      @apply text-purple-500;
    }
  }

  .slides-button {
    svg {
      @apply w-full;
    }
  }

  .imageProperties {
    @apply w-full bg-textArea rounded-md border border-mask p-2 max-w-sm;
  }

  .loginButton {
    @apply px-4 py-1 bg-primary opacity-70 hover:opacity-100 active:bg-black rounded-sm;
    &:active {
      transform: translateY(1px);
    }
  }

  .pop-confirm {
    position: relative;

    &::after {
      @apply absolute top-full left-1/2 block border-l-8 border-r-8 border-alert border-t-8;
      border-left-color: transparent;
      border-right-color: transparent;
      content: '';
    }
  }

  .resizeHandler {
    @apply hover:bg-gray-400 active:bg-blue-500;
  }

  .text-truncate {
    @apply overflow-hidden overflow-ellipsis whitespace-nowrap;
  }

  .searchForm {
    @apply relative flex-grow md:flex-grow-0 md:w-88 overflow-hidden;
    .searchIcon {
      @apply absolute h-full rounded-l-md w-8 flex flex-row justify-center items-center cursor-pointer active:bg-tabActive;
    }
    .searchBox {
      @apply max-w-full h-[2.5rem] w-full bg-textArea  focus:shadow-inner py-1 p-11 rounded-md caret-gray-400;
    }
    .cancelIcon {
      @apply absolute w-10 top-0 right-0 h-full flex flex-row justify-center items-center cursor-pointer;
    }
  }

  .dropzoneBg {
    animation: blinking 1200ms ease alternate infinite;
  }

  .spinner {
    min-width: 1.2rem;
    max-width: 1.2rem;
  }

  .rotate {
    animation: rotation 700ms cubic-bezier(0.37, 0, 0.63, 1) infinite;
  }

  .uploadTask {
    display: grid;
    grid-template-columns: 1.5rem auto 1.5rem;
    align-items: center;
    column-gap: 1rem;
  }
}

.navigationWrap {
  display: grid;
  grid-template-rows: 3rem auto 16rem;
}

.fade-transition-enter {
  opacity: 0;
}
.fade-transition-enter-active {
  opacity: 1;
  transition: opacity 200ms ease;
}
.fade-transition-exit {
  opacity: 1;
}
.fade-transition-exit-active {
  opacity: 0;
  transition: opacity 200ms ease;
}

.image-transition-enter {
  opacity: 0;
}
.image-transition-enter-active {
  opacity: 1;
  transition: opacity 2000ms ease;
}
.image-transition-exit {
  opacity: 1;
}
.image-transition-exit-active {
  opacity: 0;
  transition: opacity 2000ms ease;
}

#filerobot-image-editor-root .modal-overlay {
  transition: background 200ms ease !important;
  opacity: 1 !important;
  background: $mask !important;
}

.agreements {
  font: 16px Roboto, arial, sans-serif;
  box-sizing: border-box;
  color: #757575;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-top: 10px;
}
.agreements a {
  color: #0288d1;
  font-size: 11px;
}
