@tailwind base;
@tailwind utilities;
@tailwind components;
@use "sass:math";

// Base style
@layer base {
  html,
  body, 
  #root,
  {
    @apply p-0 m-0 min-h-full h-auto overflow-hidden max-h-screen;
    font-size: 14px;
    * {
      @apply box-border focus:outline-none;
    }
  }
  @font-face {
    font-family: 'Didot';
    font-style: normal;
    font-weight: 400;
    src: local('Didot'), url('./fonts/gfs-didot-v10-greek-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./fonts/gfs-didot-v10-greek-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
}

$lg: 1024px;
$primary: #3b3b3b;
$secondary: #414141;
$mask: rgba(0,0,0,.45);
$transition_duration: 300ms;
$menubar_height: 2.25rem;

@layer components {
  // Mobile breakpoint mixin
  @mixin breakpoint {
    @media (max-width: $lg){
      @content
    }
  };

  // Non-clickable button
  @mixin buttonDisabled {
    &:disabled {
      @apply text-gray-400 bg-tabFocus;
      @apply transform-none shadow-none cursor-default;
      .react-icons {
        fill: #9CA3AF;
      }
    }
  };

  // Image zoom slider thumb
  @mixin sliderThumb {
    @apply appearance-none w-4 h-5 rounded-sm border-none transform;
    background: linear-gradient(to right, #5E5E5E, #5E5E5E 15%, #151515 15%, #606060 85%, #151515 85%);
    -webkit-appearance: none;
    -moz-appearance: none;
  };

  //  Default images layout
  .waterfall-layout {
    column-width: 15rem;
    column-gap: 1.2rem;
    
    figure {
      @apply mb-6 overflow-hidden flex flex-col space-y-3;
      -webkit-column-break-inside: avoid; 
      page-break-inside: avoid;
      break-inside: avoid;
    }
  }

  .sidebar {
    @apply top-0 bg-secondary z-20 pt-2 border-gray-900 h-full border-opacity-70;
  }

  .mask {
    @apply fixed top-0 left-0 w-full h-0 opacity-0 bg-mask z-10;
  }

  .mask-active {
    @apply h-full opacity-100;
  }

  .menubar {
    vertical-align: -moz-middle-with-baseline;
    vertical-align: -webkit-baseline-middle;
    & > div{
      @apply px-2 p-1 hover:bg-black hover:bg-opacity-25 rounded-md;
    }
  }

  .tab {
      @apply w-full focus:bg-tabFocus hover:bg-tabFocus rounded-lg flex flex-row items-center;

      .image-count{
        @apply  text-gray-400 pr-2;
      }
      .edit-library {
        @apply text-gray-400 hover:bg-tabActive rounded-lg h-full w-6 block;
        display: none;
        
        .react-icons {
          @apply h-full mx-auto;
        }
      }

      &:hover {
        .edit-library {
          @apply py-1 block;
        }
        .image-count {
          display: none;
        }
      }
  }

  .tab-active {
      @apply bg-tabActive;
  }

  .tab-hidden {
      @apply w-0 h-0 overflow-hidden;
  }
  
  .tab-editing {
      @apply z-50 mb-2 py-1 px-3 border border-blue-500;
  }

  .tab-editing-error {
      @apply border-red-400;
  }

  .profile-stat{
      @apply flex-grow flex flex-col items-center w-20;
  }

  .progress {
    @apply absolute w-full h-full top-[90%] bg-gradient-to-r from-blue-300 to-blue-700;
    transition: right 0.5s cubic-bezier(0, 0.55, 0.45, 1);
  }

  .toolbox-button {
    min-height: 3.5rem;
    min-width: 3.5rem;
    @apply m-1;
    padding: 1px;
    button {
      @apply bg-tabActive transition-all transform hover:scale-95 hover:shadow-none w-full h-full flex flex-col
      justify-center items-center duration-75 rounded-lg rounded-bl-md rounded-tr-md active:delay-700;   

      @include buttonDisabled;
    }
  }

  .zoom-slider {
    @apply bg-black w-full border-2 appearance-none border-gray-300 rounded-lg;
    height: 6px; 
    cursor: grab;
    &:active {
      cursor: grabbing;
    }

    &::-ms-thumb {
      @include sliderThumb;
    }

    &::-webkit-slider-thumb {
      @include sliderThumb;
    }

    &::-moz-range-thumb {
      @include sliderThumb;
    }
  }

  .slides {
    @apply fixed top-0 left-0 w-full h-full z-[1000];
  }

  .slides-hidden {
    @apply hidden scale-0;
  }

  .slides-button {
    svg {
      @apply w-full;
    }
  }

  .image-properties-input { 
    @apply w-full bg-textArea rounded-md border border-mask p-2 max-w-sm
  }

  .loginButton {
    @apply px-4 py-1 bg-primary opacity-70 hover:opacity-100 active:bg-black;
  }
};

// Navigation sidebar
.navigation-wrap {
max-height: calc(100vh -  #{$menubar_height});
}

// Gallery container
.gallery {
max-height: calc(100vh -  #{$menubar_height});
}