@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  html,
  body, 
  {
    @apply p-0 m-0 min-h-full h-auto overflow-hidden max-h-screen;
    font-size: 14px;
    * {
      @apply box-border ;
    }
    button {
      @apply focus:outline-none;
    }
  }
  #root{
    @apply overflow-hidden max-h-screen;
  }
  @font-face {
    font-family: 'Didot';
    font-style: normal;
    font-weight: 400;
    src: local('Didot'), url('./fonts/gfs-didot-v10-greek-regular.woff2') format('woff2'),
      /* Chrome 26+, Opera 23+, Firefox 39+ */ url('./fonts/gfs-didot-v10-greek-regular.woff')
        format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
}

$lg: 1024px;
$primary: #3b3b3b;
$secondary: #414141;
$mask: rgba(0,0,0,.45);
$transition_duration: 300ms;

@mixin breakpoint {
  @media (max-width: $lg){
    @content
  }
}

@layer components {

  #figure-container {
    @apply pt-6 px-4 pb-16;

    column-width: 15rem;
    column-gap: 1.2rem;
    
    figure {
      @apply mb-6;
      -webkit-column-break-inside: avoid; 
      page-break-inside: avoid;
      break-inside: avoid;
    }

    figure img {
      @apply w-full h-auto pb-2; 
    }

    figure figcaption {
      @apply px-4 overflow-hidden text-sm whitespace-nowrap overflow-ellipsis text-center max-h-12 leading-6;
    }
  }

  /* Navigation and Properties sidebar*/
  .sidebar {
    @apply top-0 bg-secondary z-20 pt-2 border-gray-900 h-full border-opacity-70;
  }

  /* Sidebar mask on mobile*/
  .mask {
    @apply absolute top-0 left-0 w-full h-0 opacity-0 bg-mask z-10;
  }

  .mask-active {
    @apply h-full opacity-100;
  }

  .menubar {
    vertical-align: -moz-middle-with-baseline;
    vertical-align: -webkit-baseline-middle;
    & > div{
      @apply px-2 p-1 hover:bg-black hover:bg-opacity-25 rounded-md;
    }
  }
  .tab {
      @apply w-full cursor-pointer focus:bg-tabFocus px-2 py-1 mb-1 rounded-lg;
  }
  .tabActive {
      @apply bg-tabActive;
  }
}




